<br>
<div class="container-fluid">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse" data-target="#menu-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{ link-to 'SuperHero Land' 'index' class="navbar-brand" }}
    </div>

    <div class="collapse navbar-collapse" id="menu-collapse">
      <ul class="nav navbar-right navbar-nav">
        <li>{{#link-to 'superheros'}}Heros{{/link-to}}</li>
        <li>{{#link-to 'teams'}}Teams{{/link-to}}</li>
        {{#if session.isAuthenticated}}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{session.currentUser.name}}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>{{#link-to 'dashboard'}}DashBoard{{/link-to}}</li>
                <li>{{#link-to 'profile' session.currentUser.id}}Profile{{/link-to}}</li>
                <li>{{#link-to 'mission'}}Mission{{/link-to}}</li>
                <li role="separator" class="divider"></li>
                <li><a {{action 'invalidateSession'}}>Logout</a></li>
              </ul>
            </li>
        {{else}}
          <li>
            {{#link-to 'login'}}Login{{/link-to}}
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
</div>
{{outlet}}
