<div class="container-fluid">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-2">
      <h3> Super Heros</h3>
      {{#each model.user as |user|}}
        {{superhero-info user=user}}
      {{else}}
        <h3>Where have all the superheros gone?</h3>
      {{/each}}
    </div>
    <div class="col-xs-4 col-xs-offset-2">
      <h3>Teams</h3>
      {{#each model.team as |team|}}
        {{team-info team=team}}
      {{else}}
        <h3>Teams needed!</h3>
      {{/each}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 col-xs-offset-4">
      <form {{action "addSH" name on="submit"}}>
        <label>Add New Team</label>
      {{input value=name class="form-control"}}
      <br>
      <button class="btn btn-primary btn-block" type="submit">Save</button>
      </form>
    </div>
  </div>
</div>
