<div class="container">
  <form {{action "addNewHero" on="submit"}} class="form-horizontal">
    <div class="row">
      <div class="col-xs-12 col-sm-7">
        <div class="form-group">
          <label class="col-xs-4">Secret Identity</label>

            {{input type="text" value=name class="col-xs-6"}}

        </div>
        <div class="form-group">
          <label class="col-xs-4">First Name</label>

            {{input type="text" value=firstName class="col-xs-6"}}

        </div>
        <div class="form-group">
          <label class="col-xs-4">Last Name</label>

            {{input type="text" value=lastName class="col-xs-6"}}

        </div>
        <div class="form-group">
          <label class="col-xs-4">Description</label>

          {{textarea value=descrip cols="40" class="col-xs-8" rows="6"}}
        </div>
      </div>
      <div class="col-xs-12 col-sm-5">
        {{#each model.teams as |team|}}
          <p>{{team.name}}
          {{#if team.userIsMember}}
            <button {{action "removeTeam" team.id}} class="btn btn-danger">Remove Team</button>
          {{else}}
            <button {{action "addTeam" team.id}} class="btn btn-info">Add Team</button>
          {{/if}}
        </p>
        {{/each}}
      </div>
    </div>
    <button class="btn btn-primary " type="submit">Save</button>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target=".image-upload">Upload Image</button>
  </form>
</div>
<div class="modal fade image-upload" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload Photo Here</h4>
      </div>
      <div class="modal-body">
        {{#file-picker  accept=".jpg,.jpeg,.gif,.png" fileLoaded="fileLoaded" }}
          Drag here or click to upload a file
        {{/file-picker}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" {{action "displayImage"}} class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
