<div class="container">
  <form {{action "addNewHero" on="submit"}} class="form-horizontal">
    <div class="row">
      <div class="col-xs-12 col-sm-7">
        <div class="form-group">
          <label class="col-xs-4">Secret Identity</label>

            {{input type="text" value=name class="col-xs-6"}}

        </div>
        <div class="form-group">
          <label class="col-xs-4">First Name</label>

            {{input type="text" value=firstName class="col-xs-6"}}

        </div>
        <div class="form-group">
          <label class="col-xs-4">Last Name</label>

            {{input type="text" value=lastName class="col-xs-6"}}

        </div>
        <div class="form-group">
          <label class="col-xs-4">Description</label>

          {{textarea value=descrip cols="40" class="col-xs-8" rows="6"}}
        </div>
      </div>
      <div class="col-xs-12 col-sm-5">
        {{#each model.teams as |team|}}
          <p>{{team.name}}
          {{#if team.userIsMember}}
            <button {{action "removeTeam" team.id}} class="btn btn-danger">Remove Team</button>
          {{else}}
            <button {{action "addTeam" team.id}} class="btn btn-info">Add Team</button>
          {{/if}}
        </p>
        {{/each}}
      </div>

    </div>
    <button class="btn btn-primary " type="submit">Save</button>
  </form>
</div>
